@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@500;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap⁩');

:root {
    /* colors */
    --bgColorMain: floralwhite;
    --bgColorHeader: #F8EDCA;
    --bgColorNav: #E8D285;

    --accentRed: #a80a1c;
    --accentBlue: #0038A8;
    --gray: #D3D3D3;

    /* fonts */
    --headerFont: "Nunito Sans", Helvetica, sans-serif;
    --textFont: "Roboto", Helvetica, sans-serif;
}